DirectoryView--IconView::Item
{
    padding-top: 5px;
    padding-bottom: 10px;
    image-position: bottom;
}

DirectoryView--IconView::Item::hover
{
    background-color: transparent;
}

DirectoryView--IconView::Item::selected
{
    background-color: transparent;
}

DirectoryView--ListView::Item::hover
{
    background-color: transparent;
}

SideBar::Item::hover
{
    background-color: transparent;
}

SideBar::Item::selected
{
    background-color: transparent;
}
